@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600&family=Merriweather:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather; serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Josefin Slab';
    font-weight: 600;
    color: black;
}

/* header */

header {
    height: 75px;
    background-color: #3a3a3a;
}

#logo, #nav-menu {
    line-height: 75px;
}

#logo {
    color: ivory;
    font-size: 300%;
    float: left;
    margin-left: 30px;
}

/* Nav elements */

#nav-menu {
    float: right;
    font-size: 120%;

}

#nav-menu li {
    margin-right: 30px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: ivory;
}

#nav-menu a:hover {
    color: #3a3a3a;
    background-color: ivory;
}

#nav-menu li {
    display: inline;
}

#nav-current {
    border-bottom: 1px solid ivory;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* margin-bottom: 30px; */
}

#hero-image {
    height: 650px;
    width: 100%;

    /* background: url(https://unsplash.it/2000/600) no-repeat center center; */
    background: url(../images/40-foot-hero.png) no-repeat center center;
}

/* Healthy Habit section */

#healthy-container {
    background-color: #A5DFFE;
    padding-bottom: 30px;
}

#healthy-title {
    text-align: center;
    font-size: 200%;
    padding: 30px 0;
}

#healthy-intro {
    text-align: center;
    font-size: 130%;
    padding: 0 20% 40px 20%;
}

.sub-cont {
    padding: 10px 75px;    
}

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-text-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-cont div {
    /* padding: 0 40px; */
}

.sub-cont h3 {
    font-size: 180%;
}

.sub-cont p {
    font-size: 120%;
    font-weight: 50;
}
.sub-cont img {
    border-radius: 50%;
}

.image-outer {
    /* width: 620px; */
    border: 2px solid #3a3a3a;
    background-color: #6399c9;
    border-radius: 50%;
    padding: 10px;
    margin: 0 40px;
}

.image-outer-history {
    /* width: 620px; */
    border: 2px solid #3a3a3a;
    background-color: #A5DFFE;
    border-radius: 50%;
    padding: 10px;
    margin: 0 40px;
}


.one-third {
    width: 40%;
}

.two-third {
    width: 66%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
  }


/* History Section */

#history-container {
    background-color: #6399c9;
    padding-bottom: 30px;
}

#history-title {
    text-align: center;
    font-size: 200%;
    padding: 30px 0;
}

/* Footer */

footer {
    background-color: #3a3a3a;
    /* height: 75px; */
}

.social {
    text-align: center;
  }
  
  .social li {
    display: inline;
  }
  
  .social i {
    font-size: 130%;
    margin: 1%;
    padding: .5%;
    border-radius: 50%;
    color: ivory;
  }

  .social i:hover {
    color: #3a3a3a;
    background-color: ivory;
  }

  /* about page */

  #tide {
    background-color: #1F567C;
    color: ivory;
  }

  #tide h2{
    background-color: #1F567C;
    color: ivory;
  }

  /* Newsletter form */

  #newsletter-form {
    clear: left;
    background: url(../images/40-foot-form-background.png);
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  #sign-up-form {
    margin: 3% 3% 0 0;
    color: ivory;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 15px;
  }

  #sign-up-form h2, h3, hr {
    color: ivory;
  }

  .text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }

  .signup-button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;
  }

  .signup-button:hover {
    color: green;
    background-color: white;
  }

  .signup-button:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
  }

  #sign-up-form .signup-button:active  {
    padding-bottom: 2px;
  }
