@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather; serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Josefin Slab';
    font-weight: 400;
    color: black;
}

/* header */

header {
    height: 75px;
    background-color: #3a3a3a;
}

#logo, #nav-menu {
    line-height: 75px;
}

#logo {
    color: ivory;
    font-size: 300%;
    float: left;
    margin-left: 30px;
}

#nav-menu {
    float: right;
    font-size: 120%;

}

#nav-menu li {
    margin-right: 30px;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
    color: ivory;
}

#nav-menu li {
    display: inline;
}

#nav-current {
    border-bottom: 1px solid ivory;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(https://unsplash.it/2000/600) no-repeat center center;
}