@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather; serif, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2, h3 {
    font-family: 'Josefin Slab';
    font-weight: 400;
    color: black;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(https://unsplash.it/2000/600) no-repeat center center;
}